<div Ngxheadroom data-classes='{"initial":"animated","pinned":"slideDown","unpinned":"slideUp"}' class="fixed-navbar">
    <app-navigation></app-navigation>
</div>

<div class="py-5"></div>
<div class="container">
<ol>
<li><a href="https://drive.google.com/file/d/1wdTs1bRA0Wz8tGmDzAgKyv8oh50vxrxE/view?usp=sharing" target="_blank">Acta baja de bienes muebles 2018 ESFAP. FGPA.</a><br></li>
<li><a href="https://drive.google.com/file/d/1YItz31rSn1OeupvajXifHR8KvL5_rRAY/view?usp=sharing" target="_blank">Creación ESFAP. RM. 8078-13-9-1952&nbsp;</a></li>
<li><a href="https://drive.google.com/file/d/1OAq_UvcNvnGHL-1EbIh6MyyUHrzngKOs/view?usp=sharing" target="_blank">Norma de evaluación académica RD. 7333-86-ED</a><br></li>
<li><a href="https://drive.google.com/file/d/13RHgLoRXGQHNs36mtS7F7askMgFkfXKt/view?usp=sharing" target="_blank">PEI 2020-2024 y la R.D. Nº 086-2020 que la aprueba</a><br></li>
<li><a href="https://drive.google.com/file/d/1Gd04pS1XCTvFVkQc-dAeMZFAvk_0HM31/view?usp=sharing" target="_blank">Plan de Estudio Estructura Académica ESFAP FGPA &#8211; ANR &#8211; Malla curricular</a></li>
<li><a href="https://drive.google.com/file/d/1UA_36dKiCSi3qbZfS_JyhvmfC78zwZKA/view?usp=sharing" target="_blank">Plan de mercadeo oferta demanda Región Ayacucho ESFA.Púb. FGPA</a></li>
<li><a href="https://drive.google.com/file/d/1GywnWTZCotwitwEJF9jfdt8lHmVWXGAD/view?usp=sharing" target="_blank">Plan de Trabajo 2022&nbsp;</a></li><li><a href="https://drive.google.com/file/d/1waCo_VoXc3RdSGAQ0Me2M0BK3_-59cso/view?usp=sharing" target="_blank" style="font-family: var( --e-global-typography-text-font-family ), Sans-serif; font-weight: var( --e-global-typography-text-font-weight ); background-color: rgb(255, 255, 255);">Plan de vigilancia prevención control contagio Covid-19 y la RD.027-2022-DG-ESFA, que la Aprueba</a><br></li>
<li><a href="https://drive.google.com/file/d/1UtgNQ-Dd58mOp01gd6wFzfZuwrDOXHKr/view?usp=sharing" target="_blank">Proyecto educativo a estudiantes inclusivos 2022 y la RD.026-2022-DG-ESFA, que la Aprueba.</a></li>
<li><a href="https://drive.google.com/file/d/1xX-kRp28IuSUww4MyptG2ZLId7Lj4HEm/view?usp=sharing" target="_blank">RDD. 21-88 amplia RDD. 0723-86 carrera Prof.Form. Profesores Educ. Art. a partir 4-4-1998</a></li>
<li><a href="https://drive.google.com/file/d/1JmwNQySTmkOtS8sROGtASUrrjw_0yg22/view?usp=sharing" target="_blank">RDR. 02117-2002 Asignar uso área de terreno a la ESFAP. FGPA</a></li>
<li><a href="https://drive.google.com/file/d/1epWkHEqCJEnCHS7TWJpcOZeBfjWxb-Ix/view?usp=sharing" target="_blank">Registro SUNARP Local Anexo ESFAP</a></li>
<li><a href="https://drive.google.com/file/d/1rbwYXpNWDbdtXt_uXmdwYw9cyxiXEGnG/view?usp=sharing" target="_blank">Registro SUNARP-ESFAP Felipe Guamán Poma de Ayala-Ayacucho</a></li>
<li><a href="https://drive.google.com/file/d/1oy56Bzf0ktfHF6X_1yjDbCV9Fq40K1f6/view?usp=sharing" target="_blank">Reglamento Académico 2012</a></li>
<li><a href="https://drive.google.com/file/d/1v0pO8VO-V2jziefox71RwIT_VOTm6kn8/view?usp=sharing">Reglamento Institucional 2020-2024 ESFAP y la RD Nº 085-2020 que la aprueba</a></li>
<li><a href="https://drive.google.com/file/d/1aUqfa7SlfufPG4xwEZacrTwPm099CYhW/view?usp=sharing" target="_blank">Reglamento Registro de Trabajos y Proyectos de Investigación ESFAP FGPA 2020-2024 y RD.87-2020 que la aprueba</a><br></li>
<li><a href="https://drive.google.com/file/d/1tW52KfQJYusMNDMntE9JNgrYdxBmd5Hm/view?usp=sharing" target="_blank">Reglamento titulación Institutos-Escuelas RD. 6653-86-ED</a></li>
<li><a href="https://drive.google.com/file/d/1g5N_8wZfs5Qw804_soH_UXRD4yzZLx6S/view?usp=sharing" target="_blank">Reglamento de tutoría y prácticas de pedagogía 2022 y la RD.023-2022-DG-ESFA, que la Aprueba.</a><br></li>
<li><a href="https://drive.google.com/file/d/1VWAlZiah11b0KppbFZ6u0f1fDu63_AqO/view?usp=sharing" target="_blank" style="font-family: var( --e-global-typography-text-font-family ), Sans-serif; font-weight: var( --e-global-typography-text-font-weight ); background-color: rgb(255, 255, 255);">Resolución 266-2012-ANR Aprueba carrera docente y artista</a><br></li>
<li><a href="https://drive.google.com/file/d/13CkVVWNV5hZarmzLlp-9MH3n0WYXOrYR/view?usp=sharing" target="_blank">TUPA 2017&nbsp;ESFAP&nbsp;FGP</a><a href="https://drive.google.com/file/d/13CkVVWNV5hZarmzLlp-9MH3n0WYXOrYR/view?usp=sharing" target="_blank">A</a></li>
</ol>

</div>
