<div Ngxheadroom data-tolerance="5" data-offset="300" data-classes='{"initial":"animated","pinned":"slideDown","unpinned":"slideUp"}' class="fixed-navbar">
    <app-navigation></app-navigation>
</div>
<!--
New
-->
<div class="py-5"></div>
<ng-template #new let-modal>
    <div class="modal-header">
      <div class="h5">
        {{text}}
      </div>
    </div>
    <div class="modal-body">
        <ng-katex-html [html]="texto"></ng-katex-html>
        <div *ngIf="textoimg && textoimg.split('.').pop()!=='pdf'">
          <img [src]="apiURL+'/'+ textoimg" class="m-auto w-100 img-fluid" (error)="onImgError($event)">
        </div>
        <div class="bg-light text-center border rounded">
            {{textoimg}}
        </div>
        <ngx-extended-pdf-viewer *ngIf="textoimg && textoimg.split('.').pop()=='pdf'"
        [src]="apiURL+'/'+ textoimg"
        [height]="'800px'"
        [useBrowserLocale]="false"
        [textLayer]="true"
        [showHandToolButton]="false">
      </ngx-extended-pdf-viewer>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>
<!--
New refresh
-->
<ng-template #ww let-modal>
    <form (submit)="integer(code)">
        <div class="modal-body bg-succes">
            <div class="form-group mb-3">
                <label for="exampleFormControlInput1" class="form-label">Código</label>
                <input type="text" class="form-control shadow-none" placeholder="Código del curso" #code>
            </div>
            <!--{{idcurso}}{{idcurso}}--{{iduserteach}}-->
        </div>
        <button class="btn d-none" [disabled]="loading" #www></button>

    </form>
    <div class="modal-footer">
        <button class="btn btn-info mt-1" [disabled]="loading" (click)="www.click()">{{ loading=='false' ? 'Cargando': 'Integrarse al curso'}}</button>
        <button class="btn btn-info shadow-none" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>

<!--
-->
<ng-template #www let-modal>
  <form class="container p-3" (submit)="updatenews(title, description, show)">
      <div class="row p-0">

        <div class="form-group mb-3">
            <label for="exampleFormControlInput1" class="form-label">Titulo</label>
            <input type="text" class="form-control" placeholder="Photo's Title" #title  [value]="titlewww">
        </div>
        <div class="form-group mb-3">
            <label for="exampleFormControlInput1" class="form-label">Show</label>
            <input type="text" class="form-control" placeholder="Photo's Title" #show  [value]="showww">
        </div>

          <div class="form-group mb-3 ">
              <label for="exampleFormControlInput1" class="form-label">Descripción</label>
              <div class="row mx-1">
                  <div class="col-md-5 p-0">
                      <textarea rows="5" cols="0" class="variable-textarea form-control" [(ngModel)]="markdown" [ngModelOptions]="{standalone:true}" [value]="description" #description></textarea>
                  </div>
                   <div class="form-group mb-3 col-md-7">
                    <ng-katex-html [html]="markdown"></ng-katex-html>
                  </div>
              </div>
          </div>


      </div>
      <input type="file" class="d-none" (change)="capturandoFile($event)" #photoInput>
      <div  class="text-center">
      <img [src]="photoSelected || apiURL+'/'+ imgwww" class="m-auto w-25 cursorpoint img-fluid" (error)="onImgError($event)" alt="No image" (click)="photoInput.click()">
    </div>

      <div *ngIf="!photoSelected" class="bg-light text-center border rounded">
          {{imgwww}}
      </div>
      <div *ngIf="photoSelected" class="bg-light text-center border rounded">
          {{name}}
      </div>

      <ngx-extended-pdf-viewer *ngIf="photoSelected && type=='application/pdf'"
      [src]="photoSelected"
      [height]="'1000px'"
      [useBrowserLocale]="false"
      [textLayer]="true"
      [showHandToolButton]="true">
  </ngx-extended-pdf-viewer>

      <ngx-extended-pdf-viewer *ngIf="!photoSelected && imgwww && imgwww.split('.').pop()=='pdf'"
      [src]="apiURL+'/'+ imgwww"
      [height]="'800px'"
      [useBrowserLocale]="false"
      [textLayer]="true"
      [showHandToolButton]="false">
  </ngx-extended-pdf-viewer>

  <mat-progress-bar *ngIf="value > 0" color="accent" mode="determinate" [value]="value"></mat-progress-bar>

{{ loading=='false' ? 'Cargando '+value+'%': null}}

      <button class="btn d-none" [disabled]="loading" #www></button>
  </form>
    <div class="modal-footer">
        <button class="btn btn-info mt-1" [disabled]="loading" (click)="www.click()">{{ loading=='false' ? 'Cargando': 'Refresh news'}}</button>
        <button class="btn btn-info shadow-none" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>


<div class="container">
    <div class="container text-center">
        <div class="container d-flex justify-content-center align-items-center">
            <!--
               <app-themes></app-themes>
               -->
        </div>


        <button *ngIf="user" class="btn card-photo mt-2 shadow-none" (click)="open1(ww, 'www', 'www')">
            <mat-icon svgIcon="integrate" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
            Integrarse a un curso
        </button>
        <button *ngIf="rol=='1'" class="btn card-photo mt-2 shadow-none" (click)="createnews()">
            <mat-icon svgIcon="integrate" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
            New's {{ newws ? newws.length : null }}
        </button>
    </div>


    <swiper *ngIf="user && newws.length!==0" [config]="config" [effect]="'coverflow'" [grabCursor]="true" [loop]="true" [spaceBetween]='0' [autoplay]="{delay: 2000,
      disableOnInteraction: true}" [centeredSlides]="true" [slidesPerView]="'auto'" [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true
    }" [pagination]="{clickable: true, type: 'progressbar'}" >
        <ng-template swiperSlide *ngFor="let photo of newws index as i">

            <img [src]="apiURL+'/'+photo.img" class="img-card-top imgcurse" (error)="onImgError($event)">

            <div class="mytesttop w-100 text-warning h2">
                <button class="btn btn-info btn-lg card-photo text-uppercase" (click)="openwww(new, photo.title, photo.description, photo.img)">
                  {{photo.title}}
                </button>
            </div>
            <div class="mytest w-100">

                <div *ngIf="photo.show=='false'; then thenBlock else elseBlock"></div>
                  <ng-template #thenBlock>
                    <button *ngIf="rol=='1'" class="btn btn-success shadow-none card-photo" (click)="newsemergent( $any(photo)._id, 'true')">
                      <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                      Show
                    </button>
                  </ng-template>
                  <ng-template  #elseBlock>                <button *ngIf="rol=='1'" class="btn btn-info shadow-none card-photo" (click)="newsemergent( $any(photo)._id, 'false')">
                    <mat-icon svgIcon="getout" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    Hide
                  </button>
                  </ng-template>

                <button *ngIf="rol=='1'" class="btn shadow-none text-success card-photo" (click)="deletenews( $any(photo)._id)">
                    <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    Delete
                </button>
                <button *ngIf="rol=='1'" class="btn shadow-none text-info card-photo" (click)="open2(www, photo._id, photo.title, photo.description, photo.img, photo.show)">
                    <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    Edit
                </button>
            </div>

        </ng-template>
    </swiper>

    <div *ngIf="user && newws.length!==0 && rol=='1'" class="row d-flex justify-content-center align-items-center bg-ligth">
        <div class="col-md-4 p-2"  *ngFor="let photo of newws index as i">
          <div class='cardnew_ text-align-right'>

            <img [src]="apiURL+'/'+photo.img" class="img-card-top imgcurse" (error)="onImgError($event)">

            <div class="mytest w-100">
              <div class='text-align-right h5 text-center p-1 rounded border'>
                {{photo.title}}
              </div>
                <button class="btn btn-outline-info card-photo text-uppercase" (click)="openwww(new, photo.title, photo.description, photo.img)">
                  <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                </button>
                <div *ngIf="photo.show=='false'; then thenBlock else elseBlock"></div>
                  <ng-template #thenBlock>
                    <button *ngIf="rol=='1'" class="btn btn-outline-success shadow-none card-photo" (click)="newsemergent( $any(photo)._id, 'true')">
                      <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                      Show
                    </button>
                  </ng-template>
                  <ng-template  #elseBlock>                <button *ngIf="rol=='1'" class="btn btn-light shadow-none card-photo" (click)="newsemergent( $any(photo)._id, 'false')">
                    <mat-icon svgIcon="getout" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    Hide
                  </button>
                  </ng-template>

                <button *ngIf="rol=='1'" class="btn btn-outline-secondary shadow-none card-photo" (click)="deletenews( $any(photo)._id)">
                    <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    Delete
                </button>
                <button *ngIf="rol=='1'" class="btn btn-outline-info shadow-none  card-photo" (click)="open2(www, photo._id, photo.title, photo.description, photo.img, photo.show)">
                    <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    Edit
                </button>
            </div>


        </div>
      </div>
    </div>


<div *ngIf="user && photointeger.length!==0" class="row d-flex justify-content-center align-items-center bg-warning">
    <div class="col-md-4 p-2"  *ngFor="let photo of photointeger index as i">
      <div class='cardnew_ text-align-right text-light'>

        <img [src]="apiURL+'/'+photo.curse[0].img" class="img-card-top imgcurse" (error)="onImgError($event)">
        <img [src]="apiURL+'/'+photo.userw[0].foto" class="wrapperest5" (error)="onImgError($event)">
        <div class="h8 text-center">
          {{photo.curse[0].title}}
        </div>
        <div class="mytesttop w-100">

            <button class="btn shadow-none text-info card-photo" (click)="deleteinteger( $any(photo)._id)">
                <mat-icon svgIcon="getout" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                Salir del curso
            </button>
            <button class="btn shadow-none text-light card-photo" (click)="goCurse( $any(photo).curse[0]._id)">
                <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                Ir al curso
            </button>
          </div>
        </div>


    </div>
</div>

    <div *ngIf="user" class="row d-flex justify-content-center align-items-center">

        <div class="col-md-4 p-2" *ngFor="let photo of integeruser index as i">
            <div [ngClass]="[photo.integer.length > 0 ? 'cardnew_ text-align-right text-light' : 'cardnew text-align-right']">
                <div class="card-header h5">
                    {{photo.title}}
                </div>
                <div class="card-body">
                    <img *ngIf="photo.img" [src]="apiURL+'/'+photo.img" class="img-card-top imgcurse" (error)="onImgError($event)">
                    <img *ngIf="photo.user.length>0" [src]="apiURL+'/'+photo.user[0].foto" class="img-card-top wrapperest5" (error)="onImgError($event)"> {{$any(photo).integers.length}}
                </div>
                <div class="card-footer d-flex justify-content-center align-items-center">

                    <button *ngIf='photo.integer.length == 0' class="btn shadow-none card-photo" (click)="open1(ww, $any(photo)._id, '$any(photo).user[0]._id')">
                        <mat-icon svgIcon="integrate" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                        Integrarse al curso
                    </button>
                    <button *ngIf='photo.integer.length > 0' class="btn shadow-none card-photo text-light" (click)="deleteinteger( $any(photo).integer[0]._id)">
                        <mat-icon svgIcon="getout" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                        Salir del curso
                    </button>
                    <button *ngIf="photo.integer.length > 0 || rol=='1'" class="btn shadow-none card-photo text-light" (click)="goCurse( $any(photo)._id)">
                        <mat-icon svgIcon="go" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                        Ir al curso
                    </button>
                </div>
            </div>
        </div>
    </div>


    <swiper [config]="config" [effect]="'coverflow'" [grabCursor]="true" [loop]="true" [spaceBetween]='0' [autoplay]="{delay: 2000,
      disableOnInteraction: true}" [centeredSlides]="true" [slidesPerView]="'auto'" [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true
    }" [pagination]="true" class="mySwiper">
        <ng-template swiperSlide>

              <object data='https://www.youtube.com/embed/NxpnzcoYu1A?autoplay=0' width='100%' height='315px'>
              </object>

        </ng-template>
        <ng-template swiperSlide>

              <object data='https://www.youtube.com/embed/NxpnzcoYu1A?autoplay=0' width='100%' height='315px'>
              </object>

        </ng-template>
        <ng-template swiperSlide>

              <object data='https://www.youtube.com/embed/NxpnzcoYu1A?autoplay=0' width='100%' height='315px'>
              </object>

        </ng-template>
        <ng-template swiperSlide>

              <object data='https://www.youtube.com/embed/NxpnzcoYu1A?autoplay=0' width='100%' height='315px'>
              </object>

        </ng-template>
        <ng-template swiperSlide>

              <object data='https://www.youtube.com/embed/v=-ejFrv8hZyQ?autoplay=0' width='100%' height='315px'>
              </object>
        </ng-template>
        <ng-template swiperSlide>

              <object data='https://www.youtube.com/embed/WKWTo5C_A00?autoplay=0' width='100%' height='315px'>
              </object>

        </ng-template>
        <ng-template swiperSlide>

              <object data='https://www.youtube.com/embed/NxpnzcoYu1A?autoplay=0' width='100%' height='315px'>
              </object>

        </ng-template>
    </swiper>


    <div *ngIf="!user" class="this2 container-flex p-0">
        <div class="text-center p-0 border-0">
            <div class="card-body ">
                <div class="row align-items-center">
                    <div class="container text-center p-1  col-md-6 col-lg-4 col-xl-4">
                        <object data='https://www.youtube.com/embed/eMSRYgYEQts?autoplay=0' width='100%' height='315px'>
                        </object>

                    </div>
                    <div class="container text-center p-1 col-md-6 col-lg-4 col-xl-4">
                        <object data='https://www.youtube.com/embed/pUGqJjzac3E?autoplay=0' width='100%' height='315px'>
                        </object>
                    </div>
                    <div class="container text-center p-1  col-md-6 col-lg-4 col-xl-4">
                        <object data='https://www.youtube.com/embed/eMSRYgYEQts?autoplay=0' width='100%' height='315px'>
                        </object>
                    </div>
                    <div class="container text-center p-1  col-md-6 col-lg-4 col-xl-4">
                        <object data='https://www.youtube.com/embed/a-eMSRYgYEQts?autoplay=0' width='100%' height='315px'>
                        </object>
                    </div>
                    <div class="container text-center p-1  col-md-6 col-lg-4 col-xl-4">
                        <object data='https://www.youtube.com/embed/eMSRYgYEQts?autoplay=0' width='100%' height='315px'>
                        </object>
                    </div>

                    <div class="container text-center p-1  col-md-6 col-lg-4 col-xl-4">
                        <object data='https://www.youtube.com/embed/eMSRYgYEQts?autoplay=0' width='100%' height='315px'>
                        </object>
                    </div>
                    <div class="container text-center p-1  col-md-6 col-lg-4 col-xl-4">
                        <object data='https://www.youtube.com/embed/eMSRYgYEQts?autoplay=0' width='100%' height='315px'>
                        </object>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>






<!--
        <!--
        <button class="btn btn-outline-primary" (click)="open(mymodal)">Open My Modal</button>
        <h1>
            Angular Read More| Read less button link example</h1>

        <div [ngClass]="{'limitTextHeight': isReadMore}">

            This is long text replaced with reading more/less link example in Angular application paragraph text shown here continue THis is long text replaced with read more/less link example in Angular application paragraph text shown here continue continue This is long text replaced with reading more/less link example in Angular application paragraph text shown here continue THis is long text replaced with read more/less link example in Angular application paragraph text shown here continue continue THis is long text replaced with reading more/less link example in Angular application paragraph text shown here continue THis is long text replaced with read more/less link example in Angular application paragraph text shown here continue continue
        </div>
        <button class="btn btn-info shadow-none" (click)="showText()">
            {{ isReadMore ? 'Read More': 'Read Less' }}
        </button>


        <div>
            {{(readMore) ? 'longText' : 'longText' | slice:0:3}}
            <span *ngIf="!readMore">...</span>
            <a href="javascript:;" *ngIf="!readMore" (click)="readMore=true">[Leer más]</a>
            <a href="javascript:;" *ngIf="readMore" (click)="readMore=false">[Leer menos]</a>
        </div>




    </div>
-->
<div class="container text-justify text-white" id='mision'>
<hr>
<div class="h3 text-info text-info">
NOSOTROS
</div>

<div class="container text-justify">
  <div class="h3 text-info text-danger">
    MISIÓN
  </div>

Somos una institución creada para formar profesionales en artes visuales con valores éticos y morales con nivel de autoestima, capacidad analítica, critica, creadora, participativa e investigadora para promover nuestra identidad sociocultural, permitiendo ser competitivos en cualquier ámbito.
</div>

  <div class="container text-justify">
    <div class="h3 text-info  text-danger">
      VISIÓN
    </div>

    Es una Institución educativa líder de la región en el campo de las Artes Plásticas, que valora las manifestaciones culturales y artísticas a nivel local, regional, nacional e Internacional con la práctica de una educación Holística, además es impulsor de un paradigma ecológico orientado a una sola formación del estudiante, en lo personal y profesional en un escenario a futuro.

  </div>
  <div class="container text-justify">
    <div class="h3 text-info text-success">
      VALORES
    </div>

  La Educación Superior como parte del sistema educativo peruano, hace suyo los principios enunciados en la Ley General de Educación N° 28044, y normas vigentes, la Escuela como institución de formación artística contempla el sentido de la vida, expresando los valores: Compromiso y responsabilidad en el desarrollo de la educación; Respeto a la diversidad cultural; Tolerancia a las diferentes manifestaciones artísticas; Inclusión en la formación profesional artística; Solidaridad y trabajo en equipo en la producción artística; y Allin Kausay.
</div>
</div>


<div class="container text-justify">
  <hr>
  <div class="h3 text-info">
AUTORIDADES
  </div>

  <div class="elementor-text-editor elementor-clearfix">
  				<table width="656">
  <tbody>
  <tr>
  <td style="text-align: center;" width="269"><strong>Apellidos y Nombres</strong></td>
  <td style="text-align: center;" width="387"><strong>Cargo, Correo y Celular</strong></td>
  </tr>
  <tr>
  <td>Mg. MARCELINO EFRAÍN TAIPE CARBAJAL&nbsp;</td>
  <td><strong>(Director (e) de la ESFA PÚB. Felipe Guamán Poma de Ayala)&nbsp;</strong></td>
  </tr>
  <tr>
  <td>&nbsp;</td>
  <td>
  <p>CORREO ELECTRÓNICO: marcelinotaipe@esfapa.edu.pe<br>CELULAR: 966999215</p>
  </td>
  </tr>
  <tr>
  <td>Mg. JESÚS LILIAN AYLAS GUZMAN&nbsp;</td>
  <td>(Jefe de la Unidad Académica)&nbsp;</td>
  </tr>
  <tr>
  <td>&nbsp;</td>
  <td>CORREO ELECTRÓNICO: lilianaylas@esfapa.edu.pe<br>CELULAR: 999250466&nbsp;&nbsp;</td>
  </tr>
  <tr>
  <td>Lic. ROLANDO QUISPE PRADO&nbsp;</td>
  <td>(Jefe de la Unidad Administrativa)&nbsp;</td>
  </tr>
  <tr>
  <td>&nbsp;</td>
  <td>CORREO ELECTRÓNICO: rolandoquispeprado@esfapa.edu.pe<br>CELULAR: 999394025&nbsp;</td>
  </tr>
  <tr>
  <td>Dr. JUAN LUIS LICAS GARIBAY&nbsp;</td>
  <td>(Secretario General)&nbsp;</td>
  </tr>
  <tr>
  <td>&nbsp;</td>
  <td>CORREO ELECTRÓNICO: juanlicas@esfapa.edu.pe<br>CELULAR: 999994088&nbsp;</td>
  </tr>
  <tr>
  <td>Lic. MARQUINA POZO, María Pilar&nbsp;</td>
  <td>(Jefe del Área Académica de Educación Artística)&nbsp;</td>
  </tr>
  <tr>
  <td>&nbsp;</td>
  <td>CORREO ELECTRÓNICO:&nbsp;mariamarquina@esfapa.edu.pe<br>CELULAR:&nbsp;995502771</td>
  </tr>
  <tr>
  <td>Lic. EVELINA &nbsp;SÁNCHEZ PARADO</td>
  <td>(Jefe del Área Académica de Artista Profesional)&nbsp;</td>
  </tr>
  <tr>
  <td>&nbsp;</td>
  <td>CORREO ELECTRÓNICO: evelinasanchez@esfapa.edu.pe<br>CELULAR:&nbsp;934096933<br></td>
  </tr>
  <tr>
  <td>Lic. EZEQUIEL WARI&nbsp;ZÁRATE GUTIÉRREZ</td>
  <td>(Jefe del Área Formación en Servicios)&nbsp;</td>
  </tr>
  <tr>
  <td>&nbsp;</td>
  <td>CORREO ELECTRÓNICO: ezequielzarate@esfapa.edu.pe<br>CELULAR:&nbsp;9496080911 / 966335919</td>
  </tr>
  </tbody>
  </table>					</div>
</div>




<div class="this2 container-flex p-0 mt-5">


<div style="width: 100%">
    <iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=500&amp;hl=es&amp;q=+(Escuela%20de%20Bellas%20Artes%20Felipe%20Guam%C3%A1n%20Poma%20de%20Ayala-Ayacucho)&amp;t=k&amp;z=18&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/car-satnav-gps/">Car GPS</a></iframe>
</div>

    <div class="card text-center p-0 border-0">
        <div class="card-body ">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="container text-center p-1  col-md-6 col-lg-4 col-xl-4">
                    <h3>ESFAP</h3>
                    <div class="container col-md-5 px-1">
                        <img class="img-fluid rounded" src="" (error)="onImgError($event)" alt="img" />
                    </div>
                    <p class="footer-links">
                        Artes plásticas
                    </p>

                    <div></div>
                </div>

                <div class="container text-center p-1 col-md-6 col-lg-4 col-xl-4">


                    <div>
                        <i class="text-secondary fa fa-map-marker fa-2x"></i>
                        <p>Ayacucho-2021</p>
                    </div>
                    <div>
                        <i class="text-secondary fa fa-phone fa-2x"></i>
                        <p>esfapa.edu.pe</p>
                    </div>
                    <div>
                        <i class="text-secondary fa fa-envelope fa-2x"></i>
                        <p>
                            <a class="text-secondary" href="wwwww"></a>
                        </p>
                    </div>
                </div>

                <div class="container text-center p-1  col-md-6 col-lg-4 col-xl-4">
                    <p class="text-center p-3">
wwwwwwwww wwwwwwwww
                    </p>

                    <a class="text-secondary mx-1" target="_blank" href="https://api.whatsapp.com/send?phone=+51 966878340&text=Hola%20bienvenido">
                        <mat-icon svgIcon="watsapp" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    </a>
                    <a class="text-secondary" target="_blank" href="https://m.me/ricardo.mallquib">
                        <mat-icon svgIcon="messenger" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    </a>
                    <a class="text-secondary mx-1" target="_blank" rel="noopener noreferrer" href="https://github.com/ricardofisma?tab=repositories">
                        <mat-icon svgIcon="github" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    </a>
                    <a class="text-secondary mx-1" target="_blank" href="https://fismarte.blogspot.com">
                        <mat-icon svgIcon="blogspot" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    </a>
                    <a class="text-secondary mx-1" target="_blank" href="https://web.facebook.com/ricardo.mallquib">
                        <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    </a>
                    <a class="text-secondary mx-1" target="_blank" href="https://rilatex.blogspot.com">
                        <mat-icon svgIcon="blogspot" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<!--

<div class="fixed-footer" ngxHideOnScroll [propertyUsedToHide]="'transform'" [valueWhenHidden]="'translateY(100%)'" [valueWhenShown]="'translateY(0%)'">
    <h2>Fixed footer, with transition on hide/show.</h2>
</div>

<div class="row m-0 d-flex justify-content-center align-items-center">
    <div class="col-md-4 p-3 card-photo" *ngFor="let photo of photouser index as i">
        <div class="card" (click)="selectedCard($any(photo)._id)">
            <div class="card-header h5">
                {{photo.title}}
            </div>
            <div class="card-footer">
                <img [src]="apiURL+'/'+photo.imagePath" class="img-card-top wrapperest" (error)="onImgError($event)">
            </div>
            <div class="card-footer">
                <p>{{photo._id}}</p>

            </div>
        </div>
    </div>
</div>


<div class="row m-0 d-flex justify-content-center align-items-center">
    <div class="col-md-12 p-2" *ngFor="let photo of wwwww index as i">
        <div class="card bg-info text-align-right" (click)="selectedCard($any(photo)._id)">
            <div class="card-header h5">
                {{photo.title}}------------
                {{photo.img}}
            </div>
            <div class="card-footer">
                <img [src]="apiURL+'/'+photo.img" class="img-card-top w-100" (error)="onImgError($event)">
            </div>

        </div>
    </div>

    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="row m-0 d-flex justify-content-center">

          <div class="example-box" *ngFor="let photo of photos" cdkDrag>
            <div class="example-custom-placeholder col-md-3" *cdkDragPlaceholder></div>

            <div class="card-header h5">
                {{photo.title}}------------
                {{photo.imagePath}}
            </div>
            <div class="card-footer">
                <img [src]="apiURL+'/'+photo.imagePath" class="img-card-top wrapperest">
            </div>
            <div class="card-footer">
                <p>{{photo._id}}</p>
            </div>
        </div>
    </div>
</div>
-->

<!--
<div class="collapse navbar-collapse" id="navbar-wp">
                  	<div class="d-md-block">
                  <ul id="menu-menu-principal" class="nav navbar-nav mr-auto"><li class="active home"><a class="homebtn" href="https://esfapa.edu.pe"><span class='fa fa-home'></span></a></li><li id="menu-item-598" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-598"><a href="https://esfapa.edu.pe/">Inicio</a></li>
<li id="menu-item-622" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor menu-item-has-children menu-item-622 dropdown active"><a href="#">Nosotros<i class="dropdown-arrow fa fa-angle-down"></i></a>
<ul class="dropdown-menu">
	<li id="menu-item-596" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-596"><a href="https://esfapa.edu.pe/vision-mision/">Misión y Visión</a></li>
	<li id="menu-item-597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-597"><a href="https://esfapa.edu.pe/resena/">Reseña Histórica</a></li>
	<li id="menu-item-625" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-625 dropdown-submenu active"><a href="#">Directorio</a>
	<ul class="dropdown-menu">
		<li id="menu-item-613" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-613"><a href="https://esfapa.edu.pe/autoridades-2021/">Autoridades 2022</a></li>
		<li id="menu-item-612" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-75 current_page_item menu-item-612 active"><a href="https://esfapa.edu.pe/docentes/">Docentes-Administrativos</a></li>
		<li id="menu-item-894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-894"><a href="https://esfapa.edu.pe/concejo-estudiantil/">Concejo Estudiantil</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-624" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-624 dropdown"><a href="#">Carreras<i class="dropdown-arrow fa fa-angle-down"></i></a>
<ul class="dropdown-menu">
	<li id="menu-item-606" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-606"><a href="https://esfapa.edu.pe/educacion-artistica/">Educación Artística</a></li>
	<li id="menu-item-605" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-605 dropdown-submenu"><a href="https://esfapa.edu.pe/artista-profesional/">Artista Profesional</a>
	<ul class="dropdown-menu">
		<li id="menu-item-987" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-987"><a href="https://esfapa.edu.pe/pintura/">Pintura</a></li>
		<li id="menu-item-988" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-988"><a href="https://esfapa.edu.pe/escultura/">Escultura</a></li>
		<li id="menu-item-989" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-989"><a href="https://esfapa.edu.pe/grabado-diseno-grafico/">Grabado – Diseño Gráfico</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-993" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-993 dropdown"><a href="https://esfapa.edu.pe/repositorio/">Repositorio<i class="dropdown-arrow fa fa-angle-down"></i></a>
<ul class="dropdown-menu">
	<li id="menu-item-603" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-603"><a href="https://esfapa.edu.pe/tesis-01/">Tesis</a></li>
	<li id="menu-item-676" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-676"><a href="https://esfapa.edu.pe/biblioteca-virtual/">Biblioteca Virtual</a></li>
</ul>
</li>
<li id="menu-item-1001" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1001 dropdown"><a href="https://esfapa.edu.pe/academico-2/">Académico<i class="dropdown-arrow fa fa-angle-down"></i></a>
<ul class="dropdown-menu">
	<li id="menu-item-1007" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1007"><a href="https://esfapa.edu.pe/admision/">Admisión 2022</a></li>
	<li id="menu-item-1014" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1014"><a href="https://esfapa.edu.pe/pre-bellas-artes/">Pre bellas artes</a></li>
	<li id="menu-item-1018" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1018"><a href="https://esfapa.edu.pe/estudiantes/">Estudiantes</a></li>
	<li id="menu-item-1105" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1105"><a href="https://esfapa.edu.pe/egresados/">Egresados</a></li>
	<li id="menu-item-1691" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1691"><a href="https://esfapa.edu.pe/eventos-academicos/">Eventos Académicos</a></li>
</ul>
</li>
<li id="menu-item-623" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-623 dropdown"><a href="#">Documentos<i class="dropdown-arrow fa fa-angle-down"></i></a>
<ul class="dropdown-menu">
	<li id="menu-item-903" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-903"><a href="https://www.esfapa.edu.pe/siga/generapdf">Boleta de Notas</a></li>
	<li id="menu-item-600" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-600"><a href="https://esfapa.edu.pe/documento-institucional/">Documento Institucional</a></li>
	<li id="menu-item-913" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-913"><a href= "https://esfapa.edu.pe/reclamos/">Reclamos</a></li>
	<li id="menu-item-602" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-602"><a href="https://esfapa.edu.pe/cronograma/">Cronograma</a></li>
	<li id="menu-item-601" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-601"><a href="https://esfapa.edu.pe/organigrama/">Organigrama</a></li>
	<li id="menu-item-638" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-638"><a href="https://esfapa.edu.pe/preguntas-frecuentes/">Preguntas frecuentes</a></li>
	<li id="menu-item-844" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-844"><a href="https://esfapa.edu.pe/horarios/">Horario de Clases</a></li>
</ul>
</li>
<li id="menu-item-626" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-626 dropdown"><a href="#">Otros accesos<i class="dropdown-arrow fa fa-angle-down"></i></a>
<ul class="dropdown-menu">
	<li id="menu-item-627" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-627 dropdown-submenu"><a href="#">Multimedia</a>
	<ul class="dropdown-menu">
		<li id="menu-item-620" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-620"><a href="https://esfapa.edu.pe/galeria-de-videos/">Galería de vídeos</a></li>
		<li id="menu-item-621" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-621"><a href="https://esfapa.edu.pe/galeria-de-imagenes/">Galeria de imagenes</a></li>
		<li id="menu-item-933" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-933"><a href="https://esfapa.edu.pe/galeria-360/">Galería 360</a></li>
	</ul>
</li>
</ul>
</li>
</ul>        				</div>
              		</div>
          </div>
      </nav> <!-- /Navigation -->

  -->
