<nav class="nav navbar smart-scroll navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid px-5">
        <ng-container *ngIf="!authService.loggedIn(); else loggedInw">
            <a class="navbar-brand my-3 text-light" routerLink="/">
                Wwwwwwww
            </a>
        </ng-container>
        <ng-container>
            <a *ngIf="!isCollapsed" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-brand p-0 text-light b-info " routerLink="/">
                ESFAP
            </a>
        </ng-container>
        <ng-template #loggedInw>

            <a class="navbar-brand p-0" routerLink="/user/{{photo._id}}">
                <img *ngIf="isCollapsed" [src]="apiUrl+'/'+ photo.foto" (error)="onImgError($event)" class="wrapperest10">
            </a>

        </ng-template>
        <button class="navbar-toggler btn btn-light bg-warning shadow-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
            <mat-icon color='white' svgIcon="www" aria-hidden="false" aria-label=""></mat-icon>
        </button>

        <div class="collapse navbar-collapse  justify-content-end" id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">

            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">NOSOTROS</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#mision">MISIÓN VISIÓN</a></li>
                        <li><a class="dropdown-item" href="#resena">RESEÑA HISTÓRICA</a></li>

                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">DIRECTORIO</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" target="_blank" href="#">AUTORIDADES</a></li>
                                <li><a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/1z_71XBIm0cmAeHDF3wg2ce9gH2baBG-l/view">DOCENTES-ADMINISTRATIVOS</a></li>
                                <li><a class="dropdown-item" target="_blank" href="#">CONSEJO ESTUDIANTIL</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CARRERAS</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/194ZZLccre99IE7jetyZ5BuAZPHhh0cU3/view">EDUCACION ARTÍSTICA</a></li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">ARTISTA PROFESIONAL</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/10prkeky_wvTegtfihlA8a9_rG780UQG5/view">PINTURA</a></li>
                                <li><a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/10prkeky_wvTegtfihlA8a9_rG780UQG5/view">ESCULTURA</a></li>
                                <li><a class="dropdown-item" target="_blank" href="https://drive.google.com/file/d/10prkeky_wvTegtfihlA8a9_rG780UQG5/view">GRABADO - DISEÑO GRÁFICO</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">REPOSITORIO</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" target="_blank" href="https://www.unsch.edu.pe/">TESIS</a></li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">BIBLIOTECA</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACADEMICO</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" target="_blank" href="https://www.unsch.edu.pe/">ADMISIÓN</a></li>
                      <li><a class="dropdown-item" target="_blank" href="https://www.unsch.edu.pe/">PRE BELLAS ARTES</a></li>
                      <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">ESTUDIANTES</a>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item" target="_blank" href="#">INTRANET</a></li>
                              <li><a class="dropdown-item" target="_blank" href="https://esfapa.edu.pe/siga/generapdf">BOLETA DE NOTAS</a></li>
                              <li><a class="dropdown-item" target="_blank" href="#">HORARIO DE CLASES</a></li>
                          </ul>
                      </li>
                      <li><a class="dropdown-item" target="_blank" href="https://www.unsch.edu.pe/">EGRESADOS</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://www.unsch.edu.pe/">EVENTOS ACADÉMICOS</a></li>
                    </ul>
                </li>


                <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">DOCUMENTOS</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" target="_blank" href="/documentosinstitucionales">DOCUMENTOS INSTITUCIONAL</a></li>
                      <li><a class="dropdown-item" target="_blank" href="https://www.unsch.edu.pe/">ORGANIGRAMA</a></li>
                      <li><a class="dropdown-item" target="_blank" href="https://www.unsch.edu.pe/">CRONOGRAMA</a></li>
                      <li><a class="dropdown-item" target="_blank" href="https://www.unsch.edu.pe/">RECLAMOS</a></li>
                      <li><a class="dropdown-item" target="_blank" href="https://www.unsch.edu.pe/">PREGUNTAS FRECUENTES</a></li>
                      <li><a class="dropdown-item" target="_blank" href="https://www.unsch.edu.pe/">MESA DE PARTES</a></li>
                    </ul>
                </li>



                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/photos/new">Upload</a>
                </li>
                -->
                <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" routerLink="/login">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" routerLink="/registro">Registro</a>
                    </li>

                </ng-container>
                <ng-template #loggedIn>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" routerLink="/">Cursos</a>
                    </li>
                    <li *ngIf='idcurso' class="nav-item">
                        <a class="nav-link" routerLink="/curso/{{idcurso}}">Curso</a>
                    </li>
                    <li *ngIf='idcurso' class="nav-item">
                        <a class="nav-link" routerLink="/integers/{{idcurso}}">Estudiantes</a>
                    </li>
                    <li *ngIf='photo.rol=="2" || photo.rol=="1"' class="nav-item">
                        <a class="nav-link text-uppercase" routerLink="/user">Tablero docente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" style="cursor: pointer;" (click)="authService.logout()">Cerrar sesión</a>
                    </li>
                </ng-template>

            </ul>
        </div>
    </div>
</nav>
